#page-admin-local-navnotice-manage .hiddenSetting {
    display: none;
}

#page-admin-local-navnotice-manage .card {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}

#page-admin-local-navnotice-manage .card-actions .btn {
    margin-right: 5px;
    padding: 8px;
}

#page-admin-local-navnotice-manage .card-actions .fa {
    padding: 5px;
}

.navicon.fa {
    margin-right:5px;
}

#page-admin-local-navnotice-manage .entry.card.mb-3.p-3 .mb-1.cap {
    text-transform: capitalize;
}

#id_navcolor:invalid {
    border-color: red;
    /* Highlight invalid input */
}